<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		
		<property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
        <property name="show_sql">false</property>
        <property name="hibernate.transaction.auto_close_session">false</property>
		<mapping resource="ar/com/scriptorum/taba/mappings/Carpooler.hbm.xml" />
		<mapping resource="ar/com/scriptorum/taba/mappings/Itinerario.hbm.xml" />
		<mapping resource="ar/com/scriptorum/taba/mappings/Group.hbm.xml" />
		<mapping resource="ar/com/scriptorum/taba/mappings/GroupMember.hbm.xml" />
		<mapping resource="ar/com/scriptorum/taba/mappings/Vehiculo.hbm.xml" />
		<mapping resource="ar/com/scriptorum/taba/mappings/Viaje.hbm.xml" />
	</session-factory>
</hibernate-configuration>